html, body{
	background-color:#e8e8ea;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
}

a, a:visited{
	color:#39599f;
}

h1, h2, h3, h4, h5 {
	font-family:bebas_neueregular;
	font-weight:normal;
	margin:0;
	padding:0;
}

.btn-primary {
color: #ffffff;
background-color: #46b0e2;
border-color: #3ca6d7;
}

.btn-primary:hover {
background-color: #3ca6d7;
border-color: #3ca6d7;
}

.search_text {
	width:85px;
}

.default_font {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.pad_left10 {
	padding-left:10px;
}

h4 {font-size:20px;}

.inline {
	display:inline;
}

.container {
	max-width:1000px;
	padding-left:0;
	padding-right:0;
}

.header {
	border-top: solid 5px #39599f;
}

.content {
	padding:25px 25px 0 25px;
	background-color:#fff;
}

.main_content_body {
	padding-bottom:25px;
}

.disclaimer {
	font-size:11px;
	margin:10px 0;
}

.search_area {
	padding:10px;
	background-color:#e8e8ea;
}

.no_margin {
	margin:0;
}

.map_area {
	background-color:#6CF;
	height:600px;
}

.footer_area {
	background-color:#39599f;
	padding:25px;
	color:#fff;
	font-size:12px;
}

.footer_area a {
	color:#fff;
}

.footer_area h4 {
	height:60px;
	clear:both;
}

.footer_area ul {
	height:220px;
	margin:0;
	padding:0;
	list-style-type:none;
}

.footer_area ul li {
	border-bottom:1px dotted #fff;
	line-height:18px;
}

.footer_area ul li a {
	padding: 7px 0 7px 5px;
	margin: 1px 0;
	text-decoration: none;
	display: block;
	color:#fff;
}

.footer_area ul li a:hover {
	text-decoration:underline;
}

.footer_area span a {
	padding:10px 0 20px 0;
	float:right;
	text-decoration:none;
}

.footer_area span a:hover {
	text-decoration:underline;
}


/* result table styles */

#property_info {
	border:none;
	background-color:#38599e;
	color:#fff;
}

#property_info.table-striped > tbody > tr:nth-child(odd) > td {
background-color: #4569be !important;
}

#property_info tr > th.tableHeader {
	background-color: #38599e !important;
	padding:5px 10px 10px 10px !important;
}

.prop_info_header {
	border-bottom:1px solid #fff;
	padding-bottom:5px;
}

.tabular_data table {
	font-size:11px;
	border: 1px solid #dddddd;
}

.tabular_data table tr td, .tabular_data table tr th {
	border-top:none;
}

.tabular_data .table-striped > tbody > tr:nth-child(odd) > td, .tabular_data .table-striped > tbody > tr:nth-child(odd) > th {
background-color: #eeeeee;
}

.tabular_data .tableHeader {
	background: #929292 !important;
}

.tabular_data .header-row {
	font-weight: bold;
}

.tabular_data th {
    font-family: 'bebas_neueregular';
    font-size: 24px;
    color: #fff;
    font-weight: normal;
    letter-spacing: 0;
	padding: 1px 5px 1px 15px !important;
}

/* end result table styles */

@font-face {
    font-family: 'bebas_neueregular';
    src: url('fonts/bebasneue-webfont.eot');
    src: url('fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bebasneue-webfont.woff') format('woff'),
         url('fonts/bebasneue-webfont.ttf') format('truetype'),
         url('fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-collapse {
padding-right: 0px;
padding-left: 0px;
}

.navbar-default {
background-color: #fff;
border:0;
}

.navbar {
border-radius: 0px;
}

.other_apps {
	background-color:#eee;
	margin-bottom:20px;
	padding:10px;
	text-align:center;
}


.other_apps ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

.other_apps ul li {
	font-size:11px;
	display:inline-block;
	padding:0 8px 5px 8px;
}

#site_nav {
	font-family:bebas_neueregular;
	font-size:18px;
	width:100%;
	padding:0;
	margin:0;

	border-bottom:solid 1px #39599f;
	border-left:solid 1px #39599f;
	border-right:solid 1px #39599f;
	list-style:none;
}

#site_nav li {
	width:14.2585%;
}


#site_nav li a {
	color:#4e5156;
	padding:10px 5px;
	height:60px;
	border-right:solid 1px #ddd;
	text-align:center;
}

.two_line_fix {
	padding:20px 5px !important;
}

#site_nav li a:hover, #site_nav li a.active{
	background-color:#39599f;
	/*border-right:solid 1px #39599f!important;*/
	color:#fff!important;
}

@media (max-width: 1032px) { 
#site_nav li a {height:75px;}
}

@media (max-width: 767px) {
#site_nav {border:none;}
#site_nav li {width:100%;}
#site_nav li a {height:55px;}
.navbar-default {background-color: #fff;}
.search_text {width:100px;}
}

@media (max-width: 580px) {
.search_text {width:100%; margin-bottom:15px;}
.content {padding:10px 10px 0 10px;}
.main_content_body {padding-bottom:10px;}
.footer_area {padding:10px;}

.input-group, .input-group div, .input-group input, .input-group button {display:block; text-align:left;}

#search_box {margin-bottom:10px}
#search_dropdown {position: absolute; left:85px; margin-bottom:0; border-top-right-radius:4px; border-bottom-right-radius:4px;}
#search_submit {width:100%; text-align:center; border-top-left-radius:4px; border-bottom-left-radius:4px;}

}

