<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="4">Assessment Information</th>
		</tr>

		<tr class="header-row">
			<td>Year:</td>
			<td class="text-right">{{property.AssessmentInfo.AssessmentYearCurrent}}</td>
			<td class="text-right">{{property.AssessmentInfo.AssessmentYearPrior}}</td>
			<td class="text-right">{{property.AssessmentInfo.AssessmentYearTwoPrior}}</td>
		</tr>

		<tr>
			<td><strong>Land Value:</strong></td>
			<td class="text-right">{{property.AssessmentInfo.LandValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.LandValuePrior | currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.LandValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Building Value:</strong></td>
			<td class="text-right">{{property.AssessmentInfo.BuildingValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.BuildingValuePrior
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.BuildingValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Market Value:</strong></td>
			<td class="text-right">{{property.AssessmentInfo.TotalValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.TotalValuePrior
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.TotalValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Assessed Value:</strong></td>
			<td class="text-right">{{property.AssessmentInfo.AssessedValueCurrent
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.AssessedValuePrior
			| currency:"$"}}</td>
			<td class="text-right">{{property.AssessmentInfo.AssessedValueTwoPrior
			| currency:"$"}}</td>
		</tr>
	</table>
</div>
