<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="5">Benefits Information</th>
		</tr>

		<tr class="header-row">
			<td>Benefit:</td>

			<td>Type:</td>
                        <td class="text-right">{{property.ExemptionInfo.AssessmentYearCurrent}}</td>
                        <td class="text-right">{{property.ExemptionInfo.AssessmentYearPrior}}</td>
                        <td class="text-right">{{property.ExemptionInfo.AssessmentYearTwoPrior}}</td>

		</tr>

		<tr>
			<td><strong>Save Our Homes:</strong></td>

			<td>Assessment Reduction</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td><strong>Homestead:</strong></td>

			<td>Exemption</td>
                        <td class="text-right">{{property.ExemptionInfo.HomesteadExValueCurrent
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.HomesteadExValuePrior
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.HomesteadExValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Second Homestead:</strong></td>

			<td>Exemption</td>
                        <td class="text-right">{{property.ExemptionInfo.CountySecondHomesteadExValueCurrent
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.CountySecondHomesteadExValuePrior
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.CountySecondHomesteadExValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>County Senior:</strong></td>

			<td>Exemption</td>
                        <td class="text-right">{{property.ExemptionInfo.CountySeniorExValueCurrent
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.CountySeniorExValuePrior
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.CountySeniorExValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Disabled:</strong></td>

			<td>Exemption</td>
                        <td class="text-right">{{property.ExemptionInfo.DisabledExValueCurrent
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.DisabledExValuePrior
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.DisabledExValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Veteran:</strong></td>

			<td>Exemption</td>
                        <td class="text-right">{{property.ExemptionInfo.VeteranExValueCurrent
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.VeteranExValuePrior
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.VeteranExValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td><strong>Widow:</strong></td>

			<td>Exemption</td>
                        <td class="text-right">{{property.ExemptionInfo.WidowExValueCurrent
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.WidowExValuePrior
			| currency:"$"}}</td>
                        <td class="text-right">{{property.ExemptionInfo.WidowExValueTwoPrior
			| currency:"$"}}</td>
		</tr>

		<tr>
			<td colspan="5">Note: Not all benefits are applicable to all
				Taxable Values (i.e. County, School Board, City, Regional).</td>
		</tr>
	</table>
</div>
