<div class="">

  Folio: <input ng-model='folio'> 
  <button ng-click="getPropertyByFolio()"></button>

  <h1> Property Information </h1>
  Bathroom Count            : {{property.PropertyInfo.BathroomCount}} <br>
  Bedroom Count             : {{property.PropertyInfo.BedroomCount}} <br>
  Building Effective Area    : {{property.PropertyInfo.BuildingEffectiveArea}} <br>
  DOR Code Current           : {{property.PropertyInfo.DORCodeCurrent}} <br>
  DOR Description           : {{property.PropertyInfo.DORDescription}} <br>
  Floor Count               : {{property.PropertyInfo.FloorCount}} <br>
  Folio Number              : {{property.PropertyInfo.FolioNumber}} <br>
  Half Bathroom Count        : {{property.PropertyInfo.HalfBathroomCount}} <br>
  Hx Base Year               : {{property.PropertyInfo.HxBaseYear}} <br>
  Lot Size                  : {{property.PropertyInfo.LotSize}} <br>
  Neighborhood             : {{property.PropertyInfo.Neighborhood}} <br>
  Neighborhood Description  : {{property.PropertyInfo.NeighborhoodDescription}} <br>
  Percent Homestead Capped   : {{property.PropertyInfo.PercentHomesteadCapped}} <br>
  PlatBook                 : {{property.PropertyInfo.PlatBook}} <br>
  PlatPage                 : {{property.PropertyInfo.PlatPage}} <br>
  Primary Zone              : {{property.PropertyInfo.PrimaryZone}} <br>
  Primary Zone Description   : {{property.PropertyInfo.PrimaryZoneDescription}} <br>
  Status                   : {{property.PropertyInfo.Status}} <br>
  Subdivision              : {{property.PropertyInfo.Subdivision}} <br>
  Subdivision Description   : {{property.PropertyInfo.SubdivisionDescription}} <br>
  Unit Count                : {{property.PropertyInfo.UnitCount}} <br>
  Year Built                : {{property.PropertyInfo.YearBuilt}} <br>


  <h1>Assessment Information</h1>
   Assessed Value Current            : {{property.AssessmentInfo.AssessedValueCurrent}} <br>
   Assessed Value Prior              : {{property.AssessmentInfo.AssessedValuePrior}} <br>
   Assessed Value TwoPrior           : {{property.AssessmentInfo.AssessedValueTwoPrior}} <br>
   Assessment Year Current           : {{property.AssessmentInfo.AssessmentYearCurrent}} <br>
   Assessment Year Prior             : {{property.AssessmentInfo.AssessmentYearPrior}} <br>
   Assessment Year TwoPrior          : {{property.AssessmentInfo.AssessmentYearTwoPrior}} <br>
   Building Value Current            : {{property.AssessmentInfo.BuildingValueCurrent}} <br>
   Building Value Prior              : {{property.AssessmentInfo.BuildingValuePrior}} <br>
   Building Value TwoPrior           : {{property.AssessmentInfo.BuildingValueTwoPrior}} <br>
   City ExemptionValueCurrent       : {{property.AssessmentInfo.CityExemptionValueCurrent}} <br>
   City ExemptionValuePrior         : {{property.AssessmentInfo.CityExemptionValuePrior}} <br>
   City ExemptionValueTwoPrior      : {{property.AssessmentInfo.CityExemptionValueTwoPrior}} <br>
   City TaxableValueCurrent         : {{property.AssessmentInfo.CityTaxableValueCurrent}} <br>
   City TaxableValuePrior           : {{property.AssessmentInfo.CityTaxableValuePrior}} <br>
   City TaxableValueTwoPrior        : {{property.AssessmentInfo.CityTaxableValueTwoPrior}} <br>
   County ExemptionValueCurrent     : {{property.AssessmentInfo.CountyExemptionValueCurrent}} <br>
   County ExemptionValuePrior       : {{property.AssessmentInfo.CountyExemptionValuePrior}} <br>
   County ExemptionValueTwoPrior    : {{property.AssessmentInfo.CountyExemptionValueTwoPrior}} <br>
   County TaxableValueCurrent       : {{property.AssessmentInfo.CountyTaxableValueCurrent}} <br>
   County TaxableValuePrior         : {{property.AssessmentInfo.CountyTaxableValuePrior}} <br>
   County TaxableValueTwoPrior      : {{property.AssessmentInfo.CountyTaxableValueTwoPrior}} <br>
   LandValue Current                : {{property.AssessmentInfo.LandValueCurrent}} <br>
   LandValue Prior                  : {{property.AssessmentInfo.LandValuePrior}} <br>
   LandValue TwoPrior               : {{property.AssessmentInfo.LandValueTwoPrior}} <br>
   Regional ExemptionValueCurrent   : {{property.AssessmentInfo.RegionalExemptionValueCurrent}} <br>
   Regional ExemptionValuePrior     : {{property.AssessmentInfo.RegionalExemptionValuePrior}} <br>
   Regional ExemptionValueTwoPrior  : {{property.AssessmentInfo.RegionalExemptionValueTwoPrior}} <br>
   Regional TaxableValueCurrent     : {{property.AssessmentInfo.RegionalTaxableValueCurrent}} <br>
   Regional TaxableValuePrior       : {{property.AssessmentInfo.RegionalTaxableValuePrior}} <br>
   Regional TaxableValueTwoPrior    : {{property.AssessmentInfo.RegionalTaxableValueTwoPrior}} <br>
   School ExemptionValueCurrent     : {{property.AssessmentInfo.SchoolExemptionValueCurrent}} <br>
   School ExemptionValuePrior       : {{property.AssessmentInfo.SchoolExemptionValuePrior}} <br>
   School ExemptionValueTwoPrior    : {{property.AssessmentInfo.SchoolExemptionValueTwoPrior}} <br>
   School TaxableValueCurrent       : {{property.AssessmentInfo.SchoolTaxableValueCurrent}} <br>
   School TaxableValuePrior         : {{property.AssessmentInfo.SchoolTaxableValuePrior}} <br>
   School TaxableValueTwoPrior      : {{property.AssessmentInfo.SchoolTaxableValueTwoPrior}} <br>
   Total ValueCurrent               : {{property.AssessmentInfo.TotalValueCurrent}} <br>
   Total ValuePrior                 : {{property.AssessmentInfo.TotalValuePrior}} <br>
   Total ValueTwoPrior              : {{property.AssessmentInfo.TotalValueTwoPrior}} <br>

   <h1>Classified Ag Info</h1>
   Acreage           : {{property.ClassifiedAgInfo.Acreage}} <br>
   Calculated Value  : {{property.ClassifiedAgInfo.CalculatedValue}} <br>
   Land Code         : {{property.ClassifiedAgInfo.LandCode}} <br>
   Land Use          : {{property.ClassifiedAgInfo.LandUse}} <br>
   Unit Price        : {{property.ClassifiedAgInfo.UnitPrice}} <br>

   <h1> Extra Features </h1>
   ActualYearBuilt   : {{property.ExtraFeatures.ActualYearBuilt}}
   AjustedUnitPrice  : {{property.ExtraFeatures.AjustedUnitPrice}}
   DepreciatedValue  : {{property.ExtraFeatures.DepreciatedValue}}
   Description       : {{property.ExtraFeatures.Description}}
   Units             : {{property.ExtraFeatures.Units}}
   UseCode           : {{property.ExtraFeatures.UseCode}}

  <h1>Owners Information</h1>
  <div ng-repeat="owner in property.OwnerInfos">
    <p>Owner - {{$index + 1}}</p>
    Name :         {{owner.Name}} <br>
    Description :  {{owner.Description}} <br>
    Married Flag :  {{owner.MarriedFlag}} <br>
    Percentage Own : {{owner.PercentageOwn}} <br>
    Role :         {{owner.Role}} <br>
    TenancyCd :    {{owner.TenancyCd}} <br>

  </div>

  <h1>Addresses</h1>
  <div ng-repeat="address in property.SiteAddress">
    <p>Address - {{$index + 1}}</p>

    Address                : {{address.Address}} <br>
    Building Number         : {{address.BuildingNumber}} <br>
    City                   : {{address.City}} <br>
    Street Name             : {{address.StreetName}} <br>
    Street Number           : {{address.StreetNumber}} <br>
    Street Prefix           : {{address.StreetPrefix}} <br>
    Street Suffix           : {{address.StreetSuffix}} <br>
    Street Suffix Direction  : {{address.StreetSuffixDirection}} <br>
    Unit                   : {{address.Unit}} <br>
    Zip                    : {{address.Zip}} <br>

  </div>



</div>
