<div class="property_info tabular_data">


	<table class="table table-striped" id="property_info">
		<tr>
			<th class="tableHeader" colspan="2">
				<div class="prop_info_header">Property Information</div>
			</th>
		</tr>

		<tr>
			<td width="50%"><strong>Folio</strong></td>
			<td>{{property.PropertyInfo.FolioNumber}}</td>
		</tr>

		<tr>
			<td><strong>Property Address</strong></td>
			<td>
                            <div ng-repeat="address
                                           in
                                           property.SiteAddress">
                              {{address.Address}}
                            </div>
                        </td>
		</tr>

		<tr>
			<td><strong>Owner</strong></td>
			<td>
                            <div ng-repeat="owner
                                           in
                                           property.OwnerInfos">
                              {{owner.Name}}
                            </div>
                        </td>
		</tr>

		<tr>
			<td><strong>Mailing Address</strong></td>

			<td>{{property.MailingAddress.Address1}}
			{{property.MailingAddress.Address2}}
			{{property.MailingAddress.City}}
			{{property.MailingAddress.ZipCode}}
			{{property.MailingAddress.State}}
			{{property.MailingAddress.Country}}
                        </td>
		</tr>

		<tr>
			<td><strong>Primary Zone</strong></td>

			<td>{{property.PropertyInfo.PrimaryZone}} 
                          {{property.PropertyInfo.PrimaryZoneDescription}}</td>
		</tr>

		<tr>
			<td><strong>Land Use</strong></td>

			<td>{{property.PropertyInfo.DORCodeCurrent}}
			{{property.PropertyInfo.DORDescription}}</td>
		</tr>

		<tr>
			<td><strong>Beds/Bath/Half</strong></td>

			<td>{{property.PropertyInfo.BedroomCount}}
			/ {{property.PropertyInfo.BathroomCount}}
			/ {{property.PropertyInfo.HalfBathroomCount}}</td>
		</tr>

		<tr>
			<td><strong>Floors</strong></td>

			<td>{{property.PropertyInfo.FloorCount}}</td>
		</tr>

		<tr>
			<td><strong>Living Units</strong></td>

			<td>{{property.PropertyInfo.UnitCount}}</td>
		</tr>

		<tr>
			<td><strong>Adjusted Sq. Footage</strong></td>

			<td>{{property.PropertyInfo.BuildingEffectiveArea}}</td>
		</tr>

		<tr>
			<td><strong>Lot Size</strong></td>

			<td>{{property.PropertyInfo.LotSize}} SQ FT</td>
		</tr>

		<tr>
			<td><strong>Year Built</strong></td>

			<td>{{property.PropertyInfo.YearBuilt}}</td>
		</tr>
	</table>

</div>
