<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th class="tableHeader" colspan="4">Sales Information</th>
		</tr>

		<tr class="header-row">
			<td>Previous Sale</td>

			<td class="text-right">Price</td>

			<td>OR Book-Page</td>

			<td>Qualification Description</td>
		</tr>

                <tr ng-repeat="sale in property.SalesInfo | orderBy:'-DateOfSale'">
                  <td>{{sale.DateOfSale}}</td>
                  <td class="text-right">{{sale.SalePrice | currency:"$"}}</td>
                  <td>{{sale.OfficialRecordBook}}-{{sale.OfficialRecordPage}}</td>
                  <td></td>
                </tr>

		<tr>
			<td colspan="4">For more information about the Department of
				<a
				href="http://dor.myflorida.com/dor/property/rp/dataformats/pdf/salequalcodes12.pdf"
				target="_blank">Revenue's Sales Qualification Codes</a>.
			</td>
		</tr>
	</table>
</div>
